{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="p-4 bg-light rounded">
        <h2 class="text-center">Passo 4. Boas Práticas em Regulação</h2>
        <p class="text-justify">
            Antes de iniciar o ato médico de regulação em si, vamos conhecer um pouco do fluxo seguido desde a solicitação de um
            agendamento de consulta ou de um exame, até a execução desse serviço. Você vai notar que um complexo aparato de
            diferentes estabelecimentos de saúde atua em conjunto para que esse serviço aconteça.
        </p>
        <p class="text-justify">
            Nesse momento, vá até o ANEXO 1 e leia o “Infográfico – Informativo de apoio à solicitação de consultas e exames”.
        </p>
        <p class="text-justify">
            Agora que você leu o Infográfico, ficou clara a sua função enquanto médico regulador. Você será responsável por acolher
            a solicitação de consulta ou de exame, que tem origem, muitas vezes, mas não exclusivamente, nas UAPS (antigos Postos
            de Saúde). Após ler as informações clínicas disponíveis no Sistema de Regulação, você utilizará seu julgamento clínico
            para classificar a priorização de cada solicitação em quatro níveis. Sua autonomia e julgamento médico serão importantes
            para essa decisão. Algumas filas de regulação contam com o apoio de um material consultivo interno da CECIR:
            “Informações Médicas de Apoio à Regulação”. Converse com o Coordenador Médico do Setor Ambulatorial e tenha acesso a
            esse material de apoio à regulação.
        </p>
        <p class="text-justify">
            <a href="{% static 'core/PDF/Anexo1.pdf' %}" target="_blank" rel="noopener noreferrer">Clique aqui para abrir o Infográfico 1</a>
        </p>
        <p class="text-justify">
            <a href="{% static 'core/PDF/Anexo2.pdf' %}" target="_blank" rel="noopener noreferrer">Clique aqui para abrir o Infográfico 2</a>
        </p>
        <p class="text-justify">
            <a href="{% static 'core/PDF/Anexo3.pdf' %}" target="_blank" rel="noopener noreferrer">Clique aqui para abrir o Infográfico 3</a>
        </p>
    </div>
    <div class="d-flex justify-content-between mt-4 py-4">
        <a href="{% url 'treinamento_passo3' %}" class="btn btn-secondary">Voltar</a>
        <a href="{% url 'treinamento_passo5' %}" class="btn btn-primary">Próximo Passo</a>
    </div>
</div>
{% endblock %}